<h1>Agregar Producto</h1>
<hr>
<Form class="container" [formGroup]="myForm">
    <div class="row g-3 align-items-center mb-3">
        <div class="col-auto">
            <label>Nombre:</label>
        </div>
        <div class="col-auto">
            <input formControlName="name" type="text" class="form-control">
        </div>
        <div class="col-auto">
            <span CustomLabel [color]="color" [getErrors]="myForm.get('name')?.errors">Hola </span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button (click)="changeColor()" class="btn btn-primary">Cambiar Color</button>
        </div>
    </div>
</Form>
<pre class="mt-5">{{myForm.get('name')?.errors | json}}</pre>
<p>Color: {{color}}</p>